<?xml version="1.0" ?>
<rss version="2.0">
<channel>
	<title>{{ title }}</title>
	<link>{{ url }}</link>
	{% if description %}<description>{{ description }}</description>{% endif %}
	{% if imageurl and imagelink %}
		<image>
			<url>{{ imageurl }}</url>
			<link>{{ imagelink }}</link>
		</image>
	{% endif %}
	{% for post in posts %}
		<item>
			<title>{{ post.title }}</title>
			<link>{{ url|rtrim(c="/") }}/{{ post.url|ltrim(c="/") }}</link>
			<description><![CDATA[{{ post.caption }}]]></description>
		</item>
	{% endfor %}
</channel>
</rss>
